.body {
  height: 100%;
  padding: 0px 5vw;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-family: math, Arial, sans-serif;
  font-size: 2.5rem;
}

.textarea{
  display: block;
  box-sizing: border-box;
  margin: 10px auto;
  outline:none;
  resize: none;
  font-size: 1.3rem;
  box-shadow: 0 0 20px 2px rgb(153, 183, 221);
}

.keyboard {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 800px;
  font-size: 10px;
}

.row {
  display: flex;
  justify-content: stretch;
  column-gap: 5px;
}

.key {
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: rgb(84, 86, 88);
  color: white;
  font-size: 1.8em;
  height: 48px;
  width: 48px;
  transition-duration: 0.2s;
}

.key_command {
  background-color: rgb(42, 43, 44);
  font-weight: 700;
}

.key_pressed,
.key:active {
  background-color: rgb(125, 169, 226);
  color: rgb(61, 63, 65);
}

.key:hover {
  box-shadow: 0 0 5px 5px rgb(125, 169, 226);
}

.key_caps {
  color: rgb(134, 255, 130);
}


.key_stretch {
  flex-grow: 1;
}

.key_double {
  width: 101px;
}

.key__val {
  font-size: 1.2em;
}

.key__shift-val {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 0.8em;
  color: rgb(170, 170, 170);
}

.key_letter .key__shift-val {
  visibility: hidden;
}

.keyboard_shift .key__val {
  position: absolute;
  bottom: 2px;
  right: 5px;
  font-size: 0.8em;
  color: rgb(170, 170, 170);
}

.keyboard_shift .key__shift-val {
  position: static;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

.keyboard_shift .key_letter .key__shift-val {
  visibility: visible;
}

.keyboard_shift .key_letter .key__val {
  visibility: hidden;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding-top: 15px;
  width: 800px;
  font-family: math, arial, sans-serif;
  border-top: 1px solid gray;
}

.footer__key {
  padding: 4px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 900;
  background-color: rgba(140, 182, 236, 0.342);
}

.footer__logo {
  width: 70px;
  height: 25px;
  background-image: url(../assets/img/rs_school_js.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}